<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"	
    xmlns:context="http://www.springframework.org/schema/context"	
    xmlns:mvc="http://www.springframework.org/schema/mvc"	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	">
	<context:component-scan base-package="cn.bdqn.controller"></context:component-scan>
	<mvc:annotation-driven/>
	<mvc:resources mapping="/statics/**" location="/statics/"></mvc:resources>
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 多部分解析器，用来支持文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 指定默认的编码格式，不指定的时候 使用iso-8859-1 -->
		<property name="defaultEncoding" value="utf-8"/>
		<!-- 上传文件大小的最大值，单位是字节 -->
		<property name="maxUploadSize" value="10000000"/>
		
    
		<!-- 文件上传的临时目录 -->
		<!--<property name="uploadTempDir" value="tempDir"/>
	--></bean>
</beans>